<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <span>Projetos</span>
    <small> - aguardando aprovação</small>
  </h1>
</section>

<section class="content">
  <div class="row section">
    <div class="col-md-3 form-group">
      <input type="text" class="form-control" placeholder="Nome">
    </div>

    <div class="col-md-3 form-group">
      <input type="email" class="form-control" placeholder="Email">
    </div>

    <div class="col-md-2 col-xs-12">
      <button class="btn btn-success btn-block btn-social section">
        <i class="fa fa-search"></i>
        Filtrar
      </button>
    </div>
  </div>
  <div class="divider"></div>

  <ng-table [data]=data>
  </ng-table>
</section>
