<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <span>Projeto</span>
    <small> - Detalhe do projeto</small>
  </h1>
</section>

<section class="content">
  <div class="divider"></div>
  <h4>Dados do Integrador</h4>
  <div class="divider"></div>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <h5>Informações</h5>
      <p><b>Razão Social:</b> Integrador 01</p>
      <p><b>CNPJ: </b> 94.760.423/0001-53</p>
    </div>
    <div class="col-md-4 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>44</h3>

          <p>Projetos de Sucesso</p>
        </div>
        <div class="icon">
          <i class="fa fa-smile-o"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>44</h3>

            <p>Projetos Fracassados</p>
          </div>
          <div class="icon">
            <i class="fa fa-frown-o"></i>
          </div>
        </div>
      </div>


  </div>

  <div class="divider"></div>
  <h4>Dados do Cliente</h4>
  <div class="divider"></div>
  <div class="row">
      <div class="col-md-4 col-xs-12">
        <h5>Informações</h5>
        <p><b>Razão Social:</b> Cliente 01</p>
        <p><b>CNPJ: </b> 94.760.423/0001-53</p>
        <p><b>Faturamento médio anual: </b> R$ 300.000,00</p>
      </div>

      <div class="col-md-4 col-xs-12">
        <h5>Endereço</h5>
        <p><b>Cidade: </b> Belo Horizonte - MG</p>
        <p><b>Rua: </b> Rua Silva Ortiz, 754 - Floresta</p>
      </div>

      <div class="col-md-4 col-xs-12">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>
              <p>Porcentagem de Aprovação</p>
            </div>
            <div class="icon">
              <i class="fa fa-percent"></i>
            </div>
          </div>
        </div>
    </div>

  <div class="divider"></div>
  <h4>Dados do Projeto</h4>
  <div class="divider"></div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <h5>Valor e Prazo</h5>
        <p><b>Valor requisitado:</b> R$ 27.000,00</p>
        <p><b>Data inicial prevista:</b> 13/11/2017</p>
        <p><b>Data final prevista:</b> 25/11/2017</p>
      </div>

      <div class="col-md-4 col-xs-12">
        <h5>Informações do Cliente</h5>
        <div class="pdf">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <h5>Informações do Projeto</h5>
        <div class="pdf">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-xs-12 gallery">
        <img (click)="openModalPicture('assets/imgs/foto' + i + '.jpg')" [src]="'assets/imgs/foto' + i + '.jpg'" [alt]="'Imagem' + i" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]">
      </div>

      <div class="buttons clearfix col-md-4 col-xs-12">
        <div class="col-md-12">
          <button class="btn btn-primary btn-block">
            <span class="fa fa-thumbs-up"></span>
            Aprovar
          </button>
        </div>
        <div class="col-md-12">
          <button class="btn btn-danger btn-block">
            <span class="fa fa-thumbs-down"></span>
            Reprovar
          </button>
        </div>
      </div>
    </div>


</section>
