<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <span>Projeto</span>
    <small> - Detalhe do projeto</small>
  </h1>
</section>

<section class="content">
  <div class="divider"></div>
  <h4>Dados do Integrador</h4>
  <div class="divider"></div>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <h4>Informações</h4>
      <p><b>Nome:</b> Integrador 01</p>
      <p><b>Valor requisitado:</b> R$ 27.000,00</p>
      <p><b>CNPJ: </b> 94.760.423/0001-53</p>
    </div>

    <div class="col-md-4 col-xs-12">
      <h4>Informações</h4>
      <p><b>Nome:</b> Integrador 01</p>
      <p><b>Valor requisitado:</b> R$ 27.000,00</p>
      <p><b>CNPJ: </b> 94.760.423/0001-53</p>
    </div>

    <div class="col-md-4 col-xs-12">
      <h4>Informações</h4>
      <p><b>Nome:</b> Integrador 01</p>
      <p><b>Valor requisitado:</b> R$ 27.000,00</p>
      <p><b>CNPJ: </b> 94.760.423/0001-53</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>44</h3>

          <p>Projetos de Sucesso</p>
        </div>
        <div class="icon">
          <i class="fa fa-smile-o"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>44</h3>

            <p>Projetos Fracassados</p>
          </div>
          <div class="icon">
            <i class="fa fa-frown-o"></i>
          </div>
        </div>
      </div>

    <div class="col-md-4 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>53<sup style="font-size: 20px">%</sup></h3>
          <p>Porcentagem de Aprovação</p>
        </div>
        <div class="icon">
          <i class="fa fa-percent"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>
  <h4>Dados do Cliente</h4>
  <div class="divider"></div>
  <div class="row">
      <div class="col-md-4 col-xs-12">
        <h4>Informações</h4>
        <p><b>Nome:</b> Cliente 01</p>
        <p><b>CPF: </b> 120.414.196-79</p>
      </div>

      <div class="col-md-4 col-xs-12">
        <h4>Informações</h4>
        <p><b>Nome:</b> Cliente 01</p>
        <p><b>CPF: </b> 120.414.196-79</p>
      </div>

      <div class="col-md-4 col-xs-12">
        <h4>Informações</h4>
        <p><b>Nome:</b> Cliente 01</p>
        <p><b>CPF: </b> 120.414.196-79</p>
      </div>
    </div>



  <div class="divider"></div>
  <h4>Dados do Projeto</h4>
  <div class="divider"></div>

  <div class="buttons">
    <div class="col-md-6 col-xs-12">
      <button class="btn btn-primary btn-block">
        <span class="fa fa-thumbs-up"></span>
        Aprovar
      </button>
    </div>
    <div class="col-md-6 col-xs-12">
      <button class="btn btn-danger btn-block">
        <span class="fa fa-thumbs-down"></span>
        Reprovar
      </button>
    </div>
  </div>

</section>
